<div class="container-fluid mt-3">
    <h2 class="text-center">{{month[0] | date: 'MMMM yyyy' }}</h2>
    <mat-grid-list cols="7" rowHeight="100px">

        <mat-grid-tile *ngFor="let header of monthHeader" colspan="1" rowspan="1" class="bg-dark">
            <h5 class="row align-items-center text-white">{{header}}
            </h5>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let day of month" colspan="1" rowspan="1" class="border">
            <div class="btn btn-block d-flex align-items-center justify-content-center" style="height:100%"
                (click)="selectDay(day)">
                <h5 class="">{{day | date: 'dd'}}</h5>
                <p class="d-sm-none">No events</p>
            </div>
        </mat-grid-tile>

    </mat-grid-list>

</div>