<div class="container-fluid mt-4 p-4 shadow">
	<h2 class="display-4 text-center my-4">{{month[0] | date: 'MMMM yyyy' }}</h2>
	<mat-grid-list cols="7" rowHeight="100px">
		<mat-grid-tile *ngFor="let header of monthHeader" colspan="1" rowspan="1" class="bg-dark">
			<h5 class="row align-items-center text-white">{{header}}
			</h5>
		</mat-grid-tile>

		<mat-grid-tile *ngFor="let day of month" colspan="1" rowspan="1" class="border">
			<div class="btn btn-block d-flex align-items-center justify-content-center" style="height:100%" (click)="selectDay(day)">
				<h5 class="">{{day | date: 'dd'}}</h5>
				<p class="d-sm-none">No events</p>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</div>

<!-- <mat-form-field appearance="fill">
	<mat-label>Select an option</mat-label>
	<mat-select [(ngModel)]="additive">
	  <mat-option value="0">This Month</mat-option>
	  <mat-option value="1">Next Month</mat-option>
	</mat-select>
  </mat-form-field> -->

  <select id = "nextMonth" [(ngModel)] = "additive" (change)="this.month = this.getDaysInMonth();">
	<option value = "0">This Month</option>
	<option value = "1">Next Month</option>
  </select>	