<!-- Placeholder for datePicker form -->
<h1>Time Off Request</h1>
<br>
<form>
    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a start date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>^</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <br>
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose an end date</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>^</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    <div class="form-group">
      <label for="timeOffReaseon">Reason</label>
      <input type="text" class="form-control" id="timeOffReason" placeholder="Reason">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
