<h3>Create Schedule - Month of {{today | date: 'MMMM'}}</h3>
<div class="example-container mat-elevation-z8">
	<form [formGroup]="formCreateSchedule" (ngSubmit)="onSubmit()">
		<table mat-table [dataSource]="dataSourceTable" [formGroup]="employee">
			<caption>
				<div class="container-fluid">
					<span>Scheduler List</span>
					<div class="row mt-3">
						<div class="col-2">
							<ul class="list-group-flush">
								<li class="list-group-item text-warning"><Strong>D</Strong> - Day Shift</li>
								<li class="list-group-item text-dark"><Strong>ON</Strong> - Over Night</li>
								<li class="list-group-item text-success"><Strong>DO</Strong> - Day Off</li>
								<li class="list-group-item text-danger"><Strong>CO</Strong> - Call Off</li>
								<li class="list-group-item text-primary"><Strong>T</Strong> - Training</li>
								<li class="list-group-item text-info"><Strong>V</Strong> - Vacations</li>
								<li class="list-group-item text-secundary"><Strong>R</Strong> - Rest</li>
							</ul>
						</div>
						<div class="col-2">
							<button type="submit" [disabled]="!formCreateSchedule.valid"
								class="btn btn-outline-primary">Save All</button>
						</div>
					</div>
				</div>
			</caption>
			<ng-container matColumnDef="position" sticky="true">
				<th mat-header-cell *matHeaderCellDef id="position"> # </th>
				<td mat-cell *matCellDef="let element;index as i" class="mat-position-cell"><strong>{{i+1}}</strong>
				</td>
				<td mat-footer-cell *matFooterCellDef> Position Footer </td>
			</ng-container>

			<ng-container matColumnDef="name" sticky="true">
				<th mat-header-cell *matHeaderCellDef id="name"> Name </th>
				<td mat-cell *matCellDef="let element" class="mat-name-cell"> {{element.value.name}} </td>
				<td mat-footer-cell *matFooterCellDef> Name Footer </td>
			</ng-container>

			<ng-container formArrayName="shiftDays">

				<div *ngFor="let data of daysMonth;let i = index">
					<ng-container [matColumnDef]="i+1+''">
						<th mat-header-cell *matHeaderCellDef id="name" class="mat-day-cell text-center"> {{i+1}} </th>
						<td mat-cell *matCellDef="let element" class="p-1">
							<div [formGroup]="element.controls.shiftDays.controls[i]">
								<mat-form-field appearance="fill" style="width: 60px;">
									<mat-label>Shift</mat-label>
									<input matInput placeholder="..." formControlName="shift" [ngClass]="{
										D:'text-warning',
										ON:'text-dark',
										CO:'text-danger',
										V:'text-info',
										T:'text-primary',
										DO:'text-success',
										R:'text-secondary'
									}[element.controls.shiftDays.value[i].shift]" style="font-weight: bold;">
									<mat-hint>D,OV...</mat-hint>
								</mat-form-field>
							</div>
						</td>
						<td mat-footer-cell *matFooterCellDef> Name Footer </td>
					</ng-container>
				</div>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<!-- <button type="submit" [disabled]="!formCreateSchedule.valid">Submit</button> -->
	</form>

</div>